@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    background-color: rgb(219, 93, 20);
}

h2{
    display: flex;
    color: white;
    background-color: rgb(194, 130, 173);
    font-size: 25px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgb(187, 116, 177);
}

a{
    color: rgb(114, 7, 109);
    text-decoration: none;  
    margin-top: 15px;  
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

nav{
    display: flex;
    gap: 50px;
}

.caja{
    width: 200px;
    height: 200px;
    background-color: rgb(58, 12, 119);
    border: 5px black solid;
    border-radius: 5px;
    padding: 10px;
    padding-top: 50px;
    padding: 10px 5px 20px 7px;
    /*va en sentido horario*/
    margin: 20px 200px 20px 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.caja h2{
    color: transparent;
    background-color: aquamarine;
    font-weight: 100;
    -webkit-text-stroke: 1px black;
    line-height: 3px;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-decoration: none;
}
